@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Poppins:wght@100;300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.app {
  background-color: #fafafa;
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 0 20px;
  background-color: white;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__headerImage {
  height: 50px;
}

.app__modalImage {
  height: 50px;
}

.post-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.app__logo {
  display: flex;
  align-items: center;
}

@media (max-width: 800px) {
  .post-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 560px) {
  .post-container {
    grid-template-columns: 1fr;
  }
}
